.site-wrapper{
    margin: 1rem 2rem;
}
.siteName-title{
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
    padding: 0;
}
.siteName-lable{
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ededed;
}

@media screen and (max-width:1024px){
    .siteName-lable{
        font-size: 1rem;
    }
    .siteName-title{
        font-size: 1.5rem;
    }
    .site-data{
        font-size: 1rem;        
    }
}
.siteName-data{
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #fcf641;
}
.site-subname{
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    padding: 0;
}
.site-data{
    color: #fcf641;
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 2px 2px 5px #fcf641;
}

@media screen and (max-height: 700px) {
    .site-name{
        font-size: 2rem;
    }
    .site-subname{
        font-size: 1.2rem;
    }
    .site-data{
        font-size: 2rem;
    }
}
